<mat-card>
  <h2>Login</h2>

  <form (ngSubmit)="onLogin()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" />
    </mat-form-field>

    <p *ngIf="error" style="margin: 0 0 1rem; color: #f44336;">
      {{ error }}
    </p>

    <button mat-raised-button color="primary" class="full-width">Login</button>
  </form>
</mat-card>
